<!-- views/index.ejs -->
<!doctype html>
<html>
<% include header %>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Tinhvl</h1>

            <p>Vui lòng đăng nhập:</p>
            <a href="/login/facebook" class="btn btn-info"><span class="fa fa-facebook" aria-hidden="true"></span> Facebook</a>
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <!--<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>-->
        </div>
    </div>
</body>
</html>