
<div class="page-header">
	<div class="row">
		<div class="col-md-6 text-left">
			<a href="/profile" class="btn btn-default btn-sm btn-primary">Profile</a>	
		</div>
		<div class="col-md-6 text-right">
			<a href="/logout" class="btn btn-default btn-sm btn-danger">Logout</a>		
		</div>
	</div>
</div>