<!-- views/profile.ejs -->
<!doctype html>
<html>
<% include header %>
<body>
<div class="container">
	<%- include('logout'); %>
	<div class="row">
		<div class="col-md-6 well">
			<a href="/products">Sản phẩm </a>
			<br>
			<a href="/customers">Khách hàng</a>
			<br>
			<a href="/owns">Tiền nợ</a>
			<br>
			<a href="/owns/create">Ghi nợ</a>
			<br>
			<a href="/owns/create_pay">Trả nợ</a>
		</div>
	</div>
</div>
</body>
<script src="/public/js/formAddRows.js"></script>
</html>
